In [28]:
# Importing the required libraries
import numpy as np, pandas as pd

In [29]:
data = pd.read_csv("telecom_churn_data.csv", sep=',', encoding='ISO-8859-1')

In [30]:
data.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.38,...,0,1.00,1.00,1.00,nan,968,30.40,0.00,101.20,3.58
1,7001865778,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.05,...,0,nan,1.00,1.00,nan,1006,0.00,0.00,0.00,0.00
2,7001625959,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.69,...,0,nan,nan,nan,1.00,1103,0.00,0.00,4.17,0.00
3,7001204172,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.34,...,0,nan,nan,nan,nan,2491,0.00,0.00,0.00,0.00
4,7000142493,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.64,...,0,0.00,nan,nan,nan,1526,0.00,0.00,0.00,0.00

In [31]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
mobile_number               int64
circle_id                   int64
loc_og_t2o_mou              float64
std_og_t2o_mou              float64
loc_ic_t2o_mou              float64
last_date_of_month_6        object
last_date_of_month_7        object
last_date_of_month_8        object
last_date_of_month_9        object
arpu_6                      float64
arpu_7                      float64
arpu_8                      float64
arpu_9                      float64
onnet_mou_6                 float64
onnet_mou_7                 float64
onnet_mou_8                 float64
onnet_mou_9                 float64
offnet_mou_6                float64
offnet_mou_7                float64
offnet_mou_8                float64
offnet_mou_9                float64
roam_ic_mou_6               float64
roam_ic_mou_7               float64
roam_ic_mou_8               float64
roam_ic_mou_9               float64
roam_og_mou_6               float64
roam_og_mou_7               float64
roam_og_mou_8               float64
roam_og_mou_9               float64
loc_og_t2t_mou_6            float64
loc_og_t2t_mou_7            float64
loc_og_t2t_mou_8            float64
loc_og_t2t_mou_9            float64
loc_og_t2m_mou_6            float64
loc_og_t2m_mou_7            float64
loc_og_t2m_mou_8            float64
loc_og_t2m_mou_9            float64
loc_og_t2f_mou_6            float64
loc_og_t2f_mou_7            float64
loc_og_t2f_mou_8            float64
loc_og_t2f_mou_9            float64
loc_og_t2c_mou_6            float64
loc_og_t2c_mou_7            float64
loc_og_t2c_mou_8            float64
loc_og_t2c_mou_9            float64
loc_og_mou_6                float64
loc_og_mou_7                float64
loc_og_mou_8                float64
loc_og_mou_9                float64
std_og_t2t_mou_6            float64
std_og_t2t_mou_7            float64
std_og_t2t_mou_8            float64
std_og_t2t_mou_9            float64
std_og_t2m_mou_6            float64
std_og_t2m_mou_7            float64
std_og_t2m_mou_8            float64
std_og_t2m_mou_9            float64
std_og_t2f_mou_6            float64
std_og_t2f_mou_7            float64
std_og_t2f_mou_8            float64
std_og_t2f_mou_9            float64
std_og_t2c_mou_6            float64
std_og_t2c_mou_7            float64
std_og_t2c_mou_8            float64
std_og_t2c_mou_9            float64
std_og_mou_6                float64
std_og_mou_7                float64
std_og_mou_8                float64
std_og_mou_9                float64
isd_og_mou_6                float64
isd_og_mou_7                float64
isd_og_mou_8                float64
isd_og_mou_9                float64
spl_og_mou_6                float64
spl_og_mou_7                float64
spl_og_mou_8                float64
spl_og_mou_9                float64
og_others_6                 float64
og_others_7                 float64
og_others_8                 float64
og_others_9                 float64
total_og_mou_6              float64
total_og_mou_7              float64
total_og_mou_8              float64
total_og_mou_9              float64
loc_ic_t2t_mou_6            float64
loc_ic_t2t_mou_7            float64
loc_ic_t2t_mou_8            float64
loc_ic_t2t_mou_9            float64
loc_ic_t2m_mou_6            float64
loc_ic_t2m_mou_7            float64
loc_ic_t2m_mou_8            float64
loc_ic_t2m_mou_9            float64
loc_ic_t2f_mou_6            float64
loc_ic_t2f_mou_7            float64
loc_ic_t2f_mou_8            float64
loc_ic_t2f_mou_9            float64
loc_ic_mou_6                float64
loc_ic_mou_7                float64
loc_ic_mou_8                float64
loc_ic_mou_9                float64
std_ic_t2t_mou_6            float64
std_ic_t2t_mou_7            float64
std_ic_t2t_mou_8            float64
std_ic_t2t_mou_9            float64
std_ic_t2m_mou_6            float64
std_ic_t2m_mou_7            float64
std_ic_t2m_mou_8            float64
std_ic_t2m_mou_9            float64
std_ic_t2f_mou_6            float64
std_ic_t2f_mou_7            float64
std_ic_t2f_mou_8            float64
std_ic_t2f_mou_9            float64
std_ic_t2o_mou_6            float64
std_ic_t2o_mou_7            float64
std_ic_t2o_mou_8            float64
std_ic_t2o_mou_9            float64
std_ic_mou_6                float64
std_ic_mou_7                float64
std_ic_mou_8                float64
std_ic_mou_9                float64
total_ic_mou_6              float64
total_ic_mou_7              float64
total_ic_mou_8              float64
total_ic_mou_9              float64
spl_ic_mou_6                float64
spl_ic_mou_7                float64
spl_ic_mou_8                float64
spl_ic_mou_9                float64
isd_ic_mou_6                float64
isd_ic_mou_7                float64
isd_ic_mou_8                float64
isd_ic_mou_9                float64
ic_others_6                 float64
ic_others_7                 float64
ic_others_8                 float64
ic_others_9                 float64
total_rech_num_6            int64
total_rech_num_7            int64
total_rech_num_8            int64
total_rech_num_9            int64
total_rech_amt_6            int64
total_rech_amt_7            int64
total_rech_amt_8            int64
total_rech_amt_9            int64
max_rech_amt_6              int64
max_rech_amt_7              int64
max_rech_amt_8              int64
max_rech_amt_9              int64
date_of_last_rech_6         object
date_of_last_rech_7         object
date_of_last_rech_8         object
date_of_last_rech_9         object
last_day_rch_amt_6          int64
last_day_rch_amt_7          int64
last_day_rch_amt_8          int64
last_day_rch_amt_9          int64
date_of_last_rech_data_6    object
date_of_last_rech_data_7    object
date_of_last_rech_data_8    object
date_of_last_rech_data_9    object
total_rech_data_6           float64
total_rech_data_7           float64
total_rech_data_8           float64
total_rech_data_9           float64
max_rech_data_6             float64
max_rech_data_7             float64
max_rech_data_8             float64
max_rech_data_9             float64
count_rech_2g_6             float64
count_rech_2g_7             float64
count_rech_2g_8             float64
count_rech_2g_9             float64
count_rech_3g_6             float64
count_rech_3g_7             float64
count_rech_3g_8             float64
count_rech_3g_9             float64
av_rech_amt_data_6          float64
av_rech_amt_data_7          float64
av_rech_amt_data_8          float64
av_rech_amt_data_9          float64
vol_2g_mb_6                 float64
vol_2g_mb_7                 float64
vol_2g_mb_8                 float64
vol_2g_mb_9                 float64
vol_3g_mb_6                 float64
vol_3g_mb_7                 float64
vol_3g_mb_8                 float64
vol_3g_mb_9                 float64
arpu_3g_6                   float64
arpu_3g_7                   float64
arpu_3g_8                   float64
arpu_3g_9                   float64
arpu_2g_6                   float64
arpu_2g_7                   float64
arpu_2g_8                   float64
arpu_2g_9                   float64
night_pck_user_6            float64
night_pck_user_7            float64
night_pck_user_8            float64
night_pck_user_9            float64
monthly_2g_6                int64
monthly_2g_7                int64
monthly_2g_8                int64
monthly_2g_9                int64
sachet_2g_6                 int64
sachet_2g_7                 int64
sachet_2g_8                 int64
sachet_2g_9                 int64
monthly_3g_6                int64
monthly_3g_7                int64
monthly_3g_8                int64
monthly_3g_9                int64
sachet_3g_6                 int64
sachet_3g_7                 int64
sachet_3g_8                 int64
sachet_3g_9                 int64
fb_user_6                   float64
fb_user_7                   float64
fb_user_8                   float64
fb_user_9                   float64
aon                         int64
aug_vbc_3g                  float64
jul_vbc_3g                  float64
jun_vbc_3g                  float64
sep_vbc_3g                  float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [32]:
data.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,99999.00,99999.00,98981.00,98981.00,98981.00,99999.00,99999.00,99999.00,99999.00,96062.00,...,99999.00,25153.00,25571.00,26339.00,25922.00,99999.00,99999.00,99999.00,99999.00,99999.00
mean,7001207270.39,109.00,0.00,0.00,0.00,282.99,278.54,279.15,261.65,132.40,...,0.08,0.91,0.91,0.89,0.86,1219.85,68.17,66.84,60.02,3.30
std,695669.39,0.00,0.00,0.00,0.00,328.44,338.16,344.47,342.00,297.21,...,0.65,0.28,0.29,0.31,0.35,954.73,267.58,271.20,253.94,32.41
min,7000000074.00,109.00,0.00,0.00,0.00,-2258.71,-2014.05,-945.81,-1899.51,0.00,...,0.00,0.00,0.00,0.00,0.00,180.00,0.00,0.00,0.00,0.00
25%,7000606232.50,109.00,0.00,0.00,0.00,93.41,86.98,84.13,62.69,7.38,...,0.00,1.00,1.00,1.00,1.00,467.00,0.00,0.00,0.00,0.00
50%,7001204632.00,109.00,0.00,0.00,0.00,197.70,191.64,192.08,176.85,34.31,...,0.00,1.00,1.00,1.00,1.00,863.00,0.00,0.00,0.00,0.00
75%,7001812030.50,109.00,0.00,0.00,0.00,371.06,365.34,369.37,353.47,118.74,...,0.00,1.00,1.00,1.00,1.00,1807.50,0.00,0.00,0.00,0.00
max,7002410905.00,109.00,0.00,0.00,0.00,27731.09,35145.83,33543.62,38805.62,7376.71,...,49.00,1.00,1.00,1.00,1.00,4337.00,12916.22,9165.60,11166.21,2618.57

In [44]:
#drop mobile number 
data.drop('mobile_number',axis=1,inplace=True)

In [45]:
#check for missing values
data.isna().sum()

circle_id               0
loc_og_t2o_mou          0
std_og_t2o_mou          0
loc_ic_t2o_mou          0
last_date_of_month_6    0
                       ..
fb_user_8               0
aon                     0
vbc_3g_8                0
vbc_3g_7                0
vbc_3g_6                0
Length: 170, dtype: int64

In [34]:
#DATA IMPUTATION
#data imputation for fb and nigh pack users as -1
data=data.fillna({'fb_user_6':-1,'fb_user_7':-1,'fb_user_8':-1})
data=data.fillna({'night_pck_user_6':-1,'night_pck_user_7':-1,'night_pck_user_8':-1})
#data imputation for every other na value as 0
data=data.fillna(0)

In [35]:
#verifying imputation and null
data.isna().sum()

mobile_number     0
circle_id         0
loc_og_t2o_mou    0
std_og_t2o_mou    0
loc_ic_t2o_mou    0
                 ..
aon               0
aug_vbc_3g        0
jul_vbc_3g        0
jun_vbc_3g        0
sep_vbc_3g        0
Length: 226, dtype: int64

In [39]:
#Missing value percencentages
missing_values = pd.DataFrame((data.isnull().sum()/len(data))*100).reset_index().rename(columns = {'index': 'feature', 0: 'Missing%'}).sort_values('Missing%',ascending = False)
missing_values

              feature  Missing%
0       mobile_number      0.00
169   count_rech_2g_6      0.00
143  total_rech_amt_8      0.00
144  total_rech_amt_9      0.00
145    max_rech_amt_6      0.00
..                ...       ...
79        og_others_8      0.00
80        og_others_9      0.00
81     total_og_mou_6      0.00
82     total_og_mou_7      0.00
225        sep_vbc_3g      0.00

[226 rows x 2 columns]

In [40]:
## No missing values now 
##Renaming columns to get them inline with month codes
data =data.rename(columns={'jun_vbc_3g': 'vbc_3g_6', 'jul_vbc_3g': 'vbc_3g_7',
                           'aug_vbc_3g': 'vbc_3g_8','sep_vbc_3g': 'vbc_3g_9'})

In [41]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
mobile_number               int64
circle_id                   int64
loc_og_t2o_mou              float64
std_og_t2o_mou              float64
loc_ic_t2o_mou              float64
last_date_of_month_6        object
last_date_of_month_7        object
last_date_of_month_8        object
last_date_of_month_9        object
arpu_6                      float64
arpu_7                      float64
arpu_8                      float64
arpu_9                      float64
onnet_mou_6                 float64
onnet_mou_7                 float64
onnet_mou_8                 float64
onnet_mou_9                 float64
offnet_mou_6                float64
offnet_mou_7                float64
offnet_mou_8                float64
offnet_mou_9                float64
roam_ic_mou_6               float64
roam_ic_mou_7               float64
roam_ic_mou_8               float64
roam_ic_mou_9               float64
roam_og_mou_6               float64
roam_og_mou_7               float64
roam_og_mou_8               float64
roam_og_mou_9               float64
loc_og_t2t_mou_6            float64
loc_og_t2t_mou_7            float64
loc_og_t2t_mou_8            float64
loc_og_t2t_mou_9            float64
loc_og_t2m_mou_6            float64
loc_og_t2m_mou_7            float64
loc_og_t2m_mou_8            float64
loc_og_t2m_mou_9            float64
loc_og_t2f_mou_6            float64
loc_og_t2f_mou_7            float64
loc_og_t2f_mou_8            float64
loc_og_t2f_mou_9            float64
loc_og_t2c_mou_6            float64
loc_og_t2c_mou_7            float64
loc_og_t2c_mou_8            float64
loc_og_t2c_mou_9            float64
loc_og_mou_6                float64
loc_og_mou_7                float64
loc_og_mou_8                float64
loc_og_mou_9                float64
std_og_t2t_mou_6            float64
std_og_t2t_mou_7            float64
std_og_t2t_mou_8            float64
std_og_t2t_mou_9            float64
std_og_t2m_mou_6            float64
std_og_t2m_mou_7            float64
std_og_t2m_mou_8            float64
std_og_t2m_mou_9            float64
std_og_t2f_mou_6            float64
std_og_t2f_mou_7            float64
std_og_t2f_mou_8            float64
std_og_t2f_mou_9            float64
std_og_t2c_mou_6            float64
std_og_t2c_mou_7            float64
std_og_t2c_mou_8            float64
std_og_t2c_mou_9            float64
std_og_mou_6                float64
std_og_mou_7                float64
std_og_mou_8                float64
std_og_mou_9                float64
isd_og_mou_6                float64
isd_og_mou_7                float64
isd_og_mou_8                float64
isd_og_mou_9                float64
spl_og_mou_6                float64
spl_og_mou_7                float64
spl_og_mou_8                float64
spl_og_mou_9                float64
og_others_6                 float64
og_others_7                 float64
og_others_8                 float64
og_others_9                 float64
total_og_mou_6              float64
total_og_mou_7              float64
total_og_mou_8              float64
total_og_mou_9              float64
loc_ic_t2t_mou_6            float64
loc_ic_t2t_mou_7            float64
loc_ic_t2t_mou_8            float64
loc_ic_t2t_mou_9            float64
loc_ic_t2m_mou_6            float64
loc_ic_t2m_mou_7            float64
loc_ic_t2m_mou_8            float64
loc_ic_t2m_mou_9            float64
loc_ic_t2f_mou_6            float64
loc_ic_t2f_mou_7            float64
loc_ic_t2f_mou_8            float64
loc_ic_t2f_mou_9            float64
loc_ic_mou_6                float64
loc_ic_mou_7                float64
loc_ic_mou_8                float64
loc_ic_mou_9                float64
std_ic_t2t_mou_6            float64
std_ic_t2t_mou_7            float64
std_ic_t2t_mou_8            float64
std_ic_t2t_mou_9            float64
std_ic_t2m_mou_6            float64
std_ic_t2m_mou_7            float64
std_ic_t2m_mou_8            float64
std_ic_t2m_mou_9            float64
std_ic_t2f_mou_6            float64
std_ic_t2f_mou_7            float64
std_ic_t2f_mou_8            float64
std_ic_t2f_mou_9            float64
std_ic_t2o_mou_6            float64
std_ic_t2o_mou_7            float64
std_ic_t2o_mou_8            float64
std_ic_t2o_mou_9            float64
std_ic_mou_6                float64
std_ic_mou_7                float64
std_ic_mou_8                float64
std_ic_mou_9                float64
total_ic_mou_6              float64
total_ic_mou_7              float64
total_ic_mou_8              float64
total_ic_mou_9              float64
spl_ic_mou_6                float64
spl_ic_mou_7                float64
spl_ic_mou_8                float64
spl_ic_mou_9                float64
isd_ic_mou_6                float64
isd_ic_mou_7                float64
isd_ic_mou_8                float64
isd_ic_mou_9                float64
ic_others_6                 float64
ic_others_7                 float64
ic_others_8                 float64
ic_others_9                 float64
total_rech_num_6            int64
total_rech_num_7            int64
total_rech_num_8            int64
total_rech_num_9            int64
total_rech_amt_6            int64
total_rech_amt_7            int64
total_rech_amt_8            int64
total_rech_amt_9            int64
max_rech_amt_6              int64
max_rech_amt_7              int64
max_rech_amt_8              int64
max_rech_amt_9              int64
date_of_last_rech_6         object
date_of_last_rech_7         object
date_of_last_rech_8         object
date_of_last_rech_9         object
last_day_rch_amt_6          int64
last_day_rch_amt_7          int64
last_day_rch_amt_8          int64
last_day_rch_amt_9          int64
date_of_last_rech_data_6    object
date_of_last_rech_data_7    object
date_of_last_rech_data_8    object
date_of_last_rech_data_9    object
total_rech_data_6           float64
total_rech_data_7           float64
total_rech_data_8           float64
total_rech_data_9           float64
max_rech_data_6             float64
max_rech_data_7             float64
max_rech_data_8             float64
max_rech_data_9             float64
count_rech_2g_6             float64
count_rech_2g_7             float64
count_rech_2g_8             float64
count_rech_2g_9             float64
count_rech_3g_6             float64
count_rech_3g_7             float64
count_rech_3g_8             float64
count_rech_3g_9             float64
av_rech_amt_data_6          float64
av_rech_amt_data_7          float64
av_rech_amt_data_8          float64
av_rech_amt_data_9          float64
vol_2g_mb_6                 float64
vol_2g_mb_7                 float64
vol_2g_mb_8                 float64
vol_2g_mb_9                 float64
vol_3g_mb_6                 float64
vol_3g_mb_7                 float64
vol_3g_mb_8                 float64
vol_3g_mb_9                 float64
arpu_3g_6                   float64
arpu_3g_7                   float64
arpu_3g_8                   float64
arpu_3g_9                   float64
arpu_2g_6                   float64
arpu_2g_7                   float64
arpu_2g_8                   float64
arpu_2g_9                   float64
night_pck_user_6            float64
night_pck_user_7            float64
night_pck_user_8            float64
night_pck_user_9            float64
monthly_2g_6                int64
monthly_2g_7                int64
monthly_2g_8                int64
monthly_2g_9                int64
sachet_2g_6                 int64
sachet_2g_7                 int64
sachet_2g_8                 int64
sachet_2g_9                 int64
monthly_3g_6                int64
monthly_3g_7                int64
monthly_3g_8                int64
monthly_3g_9                int64
sachet_3g_6                 int64
sachet_3g_7                 int64
sachet_3g_8                 int64
sachet_3g_9                 int64
fb_user_6                   float64
fb_user_7                   float64
fb_user_8                   float64
fb_user_9                   float64
aon                         int64
vbc_3g_8                    float64
vbc_3g_7                    float64
vbc_3g_6                    float64
vbc_3g_9                    float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [42]:
#now that every column follows same naming patter drop features related to Churn Phase
data = data.drop(data.filter(regex='_9', axis = 1).columns, axis=1)

In [43]:
data.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,sachet_3g_6,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,vbc_3g_8,vbc_3g_7,vbc_3g_6
count,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
mean,7001207270.39,109.00,0.00,0.00,0.00,282.99,278.54,279.15,127.18,128.51,...,0.07,0.08,0.08,-0.52,-0.51,-0.50,1219.85,68.17,66.84,60.02
std,695669.39,0.00,0.00,0.00,0.00,328.44,338.16,344.47,292.43,303.87,...,0.57,0.63,0.66,0.84,0.85,0.85,954.73,267.58,271.20,253.94
min,7000000074.00,109.00,0.00,0.00,0.00,-2258.71,-2014.05,-945.81,0.00,0.00,...,0.00,0.00,0.00,-1.00,-1.00,-1.00,180.00,0.00,0.00,0.00
25%,7000606232.50,109.00,0.00,0.00,0.00,93.41,86.98,84.13,5.43,4.88,...,0.00,0.00,0.00,-1.00,-1.00,-1.00,467.00,0.00,0.00,0.00
50%,7001204632.00,109.00,0.00,0.00,0.00,197.70,191.64,192.08,30.98,29.23,...,0.00,0.00,0.00,-1.00,-1.00,-1.00,863.00,0.00,0.00,0.00
75%,7001812030.50,109.00,0.00,0.00,0.00,371.06,365.34,369.37,112.61,108.88,...,0.00,0.00,0.00,0.00,0.00,0.00,1807.50,0.00,0.00,0.00
max,7002410905.00,109.00,0.00,0.00,0.00,27731.09,35145.83,33543.62,7376.71,8157.78,...,29.00,35.00,41.00,1.00,1.00,1.00,4337.00,12916.22,9165.60,11166.21

In [18]:
#Scaling Data
#from sklearn.preprocessing import StandardScaler

In [19]:
#scaler = StandardScaler()

In [11]:
#X = data.copy()

In [12]:
#x = scaler.fit_transform(X)

ValueError: could not convert string to float: '6/30/2014'