In [67]:
# Importing the required libraries
import numpy as np, pandas as pd

In [68]:
data = pd.read_csv("telecom_churn_data.csv", sep=',', encoding='ISO-8859-1')

In [69]:
data.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.38,...,0,1.00,1.00,1.00,nan,968,30.40,0.00,101.20,3.58
1,7001865778,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.05,...,0,nan,1.00,1.00,nan,1006,0.00,0.00,0.00,0.00
2,7001625959,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.69,...,0,nan,nan,nan,1.00,1103,0.00,0.00,4.17,0.00
3,7001204172,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.34,...,0,nan,nan,nan,nan,2491,0.00,0.00,0.00,0.00
4,7000142493,109,0.00,0.00,0.00,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.64,...,0,0.00,nan,nan,nan,1526,0.00,0.00,0.00,0.00

In [86]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 173 columns):
circle_id                   int64
loc_og_t2o_mou              float64
std_og_t2o_mou              float64
loc_ic_t2o_mou              float64
last_date_of_month_6        object
last_date_of_month_7        object
last_date_of_month_8        object
arpu_6                      float64
arpu_7                      float64
arpu_8                      float64
onnet_mou_6                 float64
onnet_mou_7                 float64
onnet_mou_8                 float64
offnet_mou_6                float64
offnet_mou_7                float64
offnet_mou_8                float64
roam_ic_mou_6               float64
roam_ic_mou_7               float64
roam_ic_mou_8               float64
roam_og_mou_6               float64
roam_og_mou_7               float64
roam_og_mou_8               float64
loc_og_t2t_mou_6            float64
loc_og_t2t_mou_7            float64
loc_og_t2t_mou_8            float64
loc_og_t2m_mou_6            float64
loc_og_t2m_mou_7            float64
loc_og_t2m_mou_8            float64
loc_og_t2f_mou_6            float64
loc_og_t2f_mou_7            float64
loc_og_t2f_mou_8            float64
loc_og_t2c_mou_6            float64
loc_og_t2c_mou_7            float64
loc_og_t2c_mou_8            float64
loc_og_mou_6                float64
loc_og_mou_7                float64
loc_og_mou_8                float64
std_og_t2t_mou_6            float64
std_og_t2t_mou_7            float64
std_og_t2t_mou_8            float64
std_og_t2m_mou_6            float64
std_og_t2m_mou_7            float64
std_og_t2m_mou_8            float64
std_og_t2f_mou_6            float64
std_og_t2f_mou_7            float64
std_og_t2f_mou_8            float64
std_og_t2c_mou_6            float64
std_og_t2c_mou_7            float64
std_og_t2c_mou_8            float64
std_og_mou_6                float64
std_og_mou_7                float64
std_og_mou_8                float64
isd_og_mou_6                float64
isd_og_mou_7                float64
isd_og_mou_8                float64
spl_og_mou_6                float64
spl_og_mou_7                float64
spl_og_mou_8                float64
og_others_6                 float64
og_others_7                 float64
og_others_8                 float64
total_og_mou_6              float64
total_og_mou_7              float64
total_og_mou_8              float64
loc_ic_t2t_mou_6            float64
loc_ic_t2t_mou_7            float64
loc_ic_t2t_mou_8            float64
loc_ic_t2m_mou_6            float64
loc_ic_t2m_mou_7            float64
loc_ic_t2m_mou_8            float64
loc_ic_t2f_mou_6            float64
loc_ic_t2f_mou_7            float64
loc_ic_t2f_mou_8            float64
loc_ic_mou_6                float64
loc_ic_mou_7                float64
loc_ic_mou_8                float64
std_ic_t2t_mou_6            float64
std_ic_t2t_mou_7            float64
std_ic_t2t_mou_8            float64
std_ic_t2m_mou_6            float64
std_ic_t2m_mou_7            float64
std_ic_t2m_mou_8            float64
std_ic_t2f_mou_6            float64
std_ic_t2f_mou_7            float64
std_ic_t2f_mou_8            float64
std_ic_t2o_mou_6            float64
std_ic_t2o_mou_7            float64
std_ic_t2o_mou_8            float64
std_ic_mou_6                float64
std_ic_mou_7                float64
std_ic_mou_8                float64
total_ic_mou_6              float64
total_ic_mou_7              float64
total_ic_mou_8              float64
spl_ic_mou_6                float64
spl_ic_mou_7                float64
spl_ic_mou_8                float64
isd_ic_mou_6                float64
isd_ic_mou_7                float64
isd_ic_mou_8                float64
ic_others_6                 float64
ic_others_7                 float64
ic_others_8                 float64
total_rech_num_6            int64
total_rech_num_7            int64
total_rech_num_8            int64
total_rech_amt_6            int64
total_rech_amt_7            int64
total_rech_amt_8            int64
max_rech_amt_6              int64
max_rech_amt_7              int64
max_rech_amt_8              int64
date_of_last_rech_6         object
date_of_last_rech_7         object
date_of_last_rech_8         object
last_day_rch_amt_6          int64
last_day_rch_amt_7          int64
last_day_rch_amt_8          int64
date_of_last_rech_data_6    object
date_of_last_rech_data_7    object
date_of_last_rech_data_8    object
total_rech_data_6           float64
total_rech_data_7           float64
total_rech_data_8           float64
max_rech_data_6             float64
max_rech_data_7             float64
max_rech_data_8             float64
count_rech_2g_6             float64
count_rech_2g_7             float64
count_rech_2g_8             float64
count_rech_3g_6             float64
count_rech_3g_7             float64
count_rech_3g_8             float64
av_rech_amt_data_6          float64
av_rech_amt_data_7          float64
av_rech_amt_data_8          float64
vol_2g_mb_6                 float64
vol_2g_mb_7                 float64
vol_2g_mb_8                 float64
vol_3g_mb_6                 float64
vol_3g_mb_7                 float64
vol_3g_mb_8                 float64
arpu_3g_6                   float64
arpu_3g_7                   float64
arpu_3g_8                   float64
arpu_2g_6                   float64
arpu_2g_7                   float64
arpu_2g_8                   float64
night_pck_user_6            float64
night_pck_user_7            float64
night_pck_user_8            float64
monthly_2g_6                int64
monthly_2g_7                int64
monthly_2g_8                int64
sachet_2g_6                 int64
sachet_2g_7                 int64
sachet_2g_8                 int64
monthly_3g_6                int64
monthly_3g_7                int64
monthly_3g_8                int64
sachet_3g_6                 int64
sachet_3g_7                 int64
sachet_3g_8                 int64
fb_user_6                   float64
fb_user_7                   float64
fb_user_8                   float64
aon                         int64
vbc_3g_8                    float64
vbc_3g_7                    float64
vbc_3g_6                    float64
amt_data_6                  float64
amt_data_7                  float64
avg_amt_data_6_7            float64
dtypes: float64(138), int64(26), object(9)
memory usage: 132.0+ MB

In [87]:
data.describe()

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,...,fb_user_6,fb_user_7,fb_user_8,aon,vbc_3g_8,vbc_3g_7,vbc_3g_6,amt_data_6,amt_data_7,avg_amt_data_6_7
count,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
mean,109.00,0.00,0.00,0.00,282.99,278.54,279.15,127.18,128.51,125.86,...,-0.52,-0.51,-0.50,1219.85,68.17,66.84,60.02,328.13,323.64,325.89
std,0.00,0.00,0.00,0.00,328.44,338.16,344.47,292.43,303.87,302.02,...,0.84,0.85,0.85,954.73,267.58,271.20,253.94,398.27,408.41,371.07
min,109.00,0.00,0.00,0.00,-2258.71,-2014.05,-945.81,0.00,0.00,0.00,...,-1.00,-1.00,-1.00,180.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,109.00,0.00,0.00,0.00,93.41,86.98,84.13,5.43,4.88,4.09,...,-1.00,-1.00,-1.00,467.00,0.00,0.00,0.00,110.00,100.00,115.00
50%,109.00,0.00,0.00,0.00,197.70,191.64,192.08,30.98,29.23,28.04,...,-1.00,-1.00,-1.00,863.00,0.00,0.00,0.00,230.00,220.00,230.00
75%,109.00,0.00,0.00,0.00,371.06,365.34,369.37,112.61,108.88,106.74,...,0.00,0.00,0.00,1807.50,0.00,0.00,0.00,439.00,430.00,420.00
max,109.00,0.00,0.00,0.00,27731.09,35145.83,33543.62,7376.71,8157.78,10752.56,...,1.00,1.00,1.00,4337.00,12916.22,9165.60,11166.21,35190.00,40335.00,37762.50

In [88]:
#drop mobile number 
data.drop('mobile_number',axis=1,inplace=True)

KeyError: "['mobile_number'] not found in axis"

In [ ]:
#check for missing values
data.isna().sum()

In [ ]:
#DATA IMPUTATION
#data imputation for categorical columns (fb and nigh pack users) as -1
data=data.fillna({'fb_user_6':-1,'fb_user_7':-1,'fb_user_8':-1})
data=data.fillna({'night_pck_user_6':-1,'night_pck_user_7':-1,'night_pck_user_8':-1})
#data imputation for non categorical as 0 which means no recharge happened
data=data.fillna(0)

In [ ]:
#verifying imputation and null
data.isna().sum()

In [89]:
#Missing value percencentages
missing_values = pd.DataFrame((data.isnull().sum()/len(data))*100).reset_index().rename(columns = {'index': 'feature', 0: 'Missing%'}).sort_values('Missing%',ascending = False)
missing_values

                      feature  Missing%
0                   circle_id      0.00
119  date_of_last_rech_data_7      0.00
111            max_rech_amt_8      0.00
112       date_of_last_rech_6      0.00
113       date_of_last_rech_7      0.00
..                        ...       ...
59                og_others_7      0.00
60                og_others_8      0.00
61             total_og_mou_6      0.00
62             total_og_mou_7      0.00
172          avg_amt_data_6_7      0.00

[173 rows x 2 columns]

In [90]:
## No missing values now 
##Renaming columns to get them inline with month codes
data =data.rename(columns={'jun_vbc_3g': 'vbc_3g_6', 'jul_vbc_3g': 'vbc_3g_7',
                           'aug_vbc_3g': 'vbc_3g_8','sep_vbc_3g': 'vbc_3g_9'})

In [91]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 173 columns):
circle_id                   int64
loc_og_t2o_mou              float64
std_og_t2o_mou              float64
loc_ic_t2o_mou              float64
last_date_of_month_6        object
last_date_of_month_7        object
last_date_of_month_8        object
arpu_6                      float64
arpu_7                      float64
arpu_8                      float64
onnet_mou_6                 float64
onnet_mou_7                 float64
onnet_mou_8                 float64
offnet_mou_6                float64
offnet_mou_7                float64
offnet_mou_8                float64
roam_ic_mou_6               float64
roam_ic_mou_7               float64
roam_ic_mou_8               float64
roam_og_mou_6               float64
roam_og_mou_7               float64
roam_og_mou_8               float64
loc_og_t2t_mou_6            float64
loc_og_t2t_mou_7            float64
loc_og_t2t_mou_8            float64
loc_og_t2m_mou_6            float64
loc_og_t2m_mou_7            float64
loc_og_t2m_mou_8            float64
loc_og_t2f_mou_6            float64
loc_og_t2f_mou_7            float64
loc_og_t2f_mou_8            float64
loc_og_t2c_mou_6            float64
loc_og_t2c_mou_7            float64
loc_og_t2c_mou_8            float64
loc_og_mou_6                float64
loc_og_mou_7                float64
loc_og_mou_8                float64
std_og_t2t_mou_6            float64
std_og_t2t_mou_7            float64
std_og_t2t_mou_8            float64
std_og_t2m_mou_6            float64
std_og_t2m_mou_7            float64
std_og_t2m_mou_8            float64
std_og_t2f_mou_6            float64
std_og_t2f_mou_7            float64
std_og_t2f_mou_8            float64
std_og_t2c_mou_6            float64
std_og_t2c_mou_7            float64
std_og_t2c_mou_8            float64
std_og_mou_6                float64
std_og_mou_7                float64
std_og_mou_8                float64
isd_og_mou_6                float64
isd_og_mou_7                float64
isd_og_mou_8                float64
spl_og_mou_6                float64
spl_og_mou_7                float64
spl_og_mou_8                float64
og_others_6                 float64
og_others_7                 float64
og_others_8                 float64
total_og_mou_6              float64
total_og_mou_7              float64
total_og_mou_8              float64
loc_ic_t2t_mou_6            float64
loc_ic_t2t_mou_7            float64
loc_ic_t2t_mou_8            float64
loc_ic_t2m_mou_6            float64
loc_ic_t2m_mou_7            float64
loc_ic_t2m_mou_8            float64
loc_ic_t2f_mou_6            float64
loc_ic_t2f_mou_7            float64
loc_ic_t2f_mou_8            float64
loc_ic_mou_6                float64
loc_ic_mou_7                float64
loc_ic_mou_8                float64
std_ic_t2t_mou_6            float64
std_ic_t2t_mou_7            float64
std_ic_t2t_mou_8            float64
std_ic_t2m_mou_6            float64
std_ic_t2m_mou_7            float64
std_ic_t2m_mou_8            float64
std_ic_t2f_mou_6            float64
std_ic_t2f_mou_7            float64
std_ic_t2f_mou_8            float64
std_ic_t2o_mou_6            float64
std_ic_t2o_mou_7            float64
std_ic_t2o_mou_8            float64
std_ic_mou_6                float64
std_ic_mou_7                float64
std_ic_mou_8                float64
total_ic_mou_6              float64
total_ic_mou_7              float64
total_ic_mou_8              float64
spl_ic_mou_6                float64
spl_ic_mou_7                float64
spl_ic_mou_8                float64
isd_ic_mou_6                float64
isd_ic_mou_7                float64
isd_ic_mou_8                float64
ic_others_6                 float64
ic_others_7                 float64
ic_others_8                 float64
total_rech_num_6            int64
total_rech_num_7            int64
total_rech_num_8            int64
total_rech_amt_6            int64
total_rech_amt_7            int64
total_rech_amt_8            int64
max_rech_amt_6              int64
max_rech_amt_7              int64
max_rech_amt_8              int64
date_of_last_rech_6         object
date_of_last_rech_7         object
date_of_last_rech_8         object
last_day_rch_amt_6          int64
last_day_rch_amt_7          int64
last_day_rch_amt_8          int64
date_of_last_rech_data_6    object
date_of_last_rech_data_7    object
date_of_last_rech_data_8    object
total_rech_data_6           float64
total_rech_data_7           float64
total_rech_data_8           float64
max_rech_data_6             float64
max_rech_data_7             float64
max_rech_data_8             float64
count_rech_2g_6             float64
count_rech_2g_7             float64
count_rech_2g_8             float64
count_rech_3g_6             float64
count_rech_3g_7             float64
count_rech_3g_8             float64
av_rech_amt_data_6          float64
av_rech_amt_data_7          float64
av_rech_amt_data_8          float64
vol_2g_mb_6                 float64
vol_2g_mb_7                 float64
vol_2g_mb_8                 float64
vol_3g_mb_6                 float64
vol_3g_mb_7                 float64
vol_3g_mb_8                 float64
arpu_3g_6                   float64
arpu_3g_7                   float64
arpu_3g_8                   float64
arpu_2g_6                   float64
arpu_2g_7                   float64
arpu_2g_8                   float64
night_pck_user_6            float64
night_pck_user_7            float64
night_pck_user_8            float64
monthly_2g_6                int64
monthly_2g_7                int64
monthly_2g_8                int64
sachet_2g_6                 int64
sachet_2g_7                 int64
sachet_2g_8                 int64
monthly_3g_6                int64
monthly_3g_7                int64
monthly_3g_8                int64
sachet_3g_6                 int64
sachet_3g_7                 int64
sachet_3g_8                 int64
fb_user_6                   float64
fb_user_7                   float64
fb_user_8                   float64
aon                         int64
vbc_3g_8                    float64
vbc_3g_7                    float64
vbc_3g_6                    float64
amt_data_6                  float64
amt_data_7                  float64
avg_amt_data_6_7            float64
dtypes: float64(138), int64(26), object(9)
memory usage: 132.0+ MB

In [92]:
#now that every column follows same naming patter drop features related to Churn Phase
data = data.drop(data.filter(regex='_9', axis = 1).columns, axis=1)

In [93]:
#data.describe()
data.shape

(99999, 173)

In [94]:
#Derieving Features
data['amt_data_6'] = data.total_rech_amt_6 + data.total_rech_data_6           
data['amt_data_7'] = data.total_rech_amt_7 + data.total_rech_data_7
#  average recharge by customer in June and July
data['avg_amt_data_6_7'] = (data.amt_data_6 + data.amt_data_7)/2
#Retaining customers whose recharge amount is >= 70th percentile amount

data_filtered = data.loc[data.avg_amt_data_6_7 >= data.avg_amt_data_6_7.quantile(0.7), :]
data_filtered = data_filtered.reset_index(drop=True)
data_filtered.shape

(30019, 173)

In [95]:
#Scaling Data
#from sklearn.preprocessing import StandardScaler

In [96]:
#scaler = StandardScaler()

In [97]:
#X = data.copy()

In [98]:
#x = scaler.fit_transform(X)